---
import Layout from "@layout/index.astro";
---

<Layout>
  <div class="flex flex-col space-y-6">
    <h1 class="text-xl font-bold">D3 Visualizations</h1>
    <ul class="underline">
      <li>
        <a href="/scatter-plot">Scatter Plot</a>
      </li>
      <li>
        <a href="/heatmap">Heatmap</a>
      </li>
      <li>
        <a href="/log-plot">Log Plot</a>
      </li>
      <li>
        <a href="/histogram">Histogram</a>
      </li>
      <li>
        <a href="/gauge">Gauge</a>
      </li>
    </ul>
  </div>
</Layout>
